*
{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  background-color:#2596be;
}

.wrapper 
{
  display: flex;
  flex-direction: row;
}
#p1
{
  margin: 1rem 1rem 1rem 19.5rem;
  font-weight: bold;
}

#p2
{
 margin: 1rem 1rem 1rem;
 font-weight: bold;
}

thead th
{
 text-align: center;
}

tbody td
{
 text-align: center;    
}